[include klipper-readonly/*.cfg]

[extruder]
control: pid
pid_Kp: 24.860427
pid_Ki: 2.702253
pid_Kd: 57.178292

[heater_bed]
control: pid
pid_Kp: 46.504839
pid_Ki: 1.453276
pid_Kd: 372.038710

[load_cell_probe]
reference_tare_counts: 71000

# Add your macros or other extra configuration here.
